rvm:
  - 1.9.3
bundler_args: --without development
before_script:
  - "git submodule update --init"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - bundle exec rackup &
  - sleep 5
script: phantomjs ./lib/test-helpers/run_jasmine_test.coffee "http://localhost:9292/src/tests/index.html"